services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
    # Ensure .env exists in the same folder before running
    env_file:
      - .env
    command: python main.py
    restart: unless-stopped
